@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

*{
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.rough-container {
  background-color: #000;
  padding: 60px;
  display: flex;
  justify-content: center;
  overflow: hidden; /* Щоб рвані краї не вилазили за блок */
}

.text-effect {
  font-weight: 900;
  line-height: 1;
  text-transform: uppercase;
  color: black; /* Всередині чорний */
  
  /* Біла обводка */
  -webkit-text-stroke: 4px white;
  
  /* Гарантує, що обводка не залізає на літеру всередину */
  paint-order: stroke fill; 
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.4));
}

.header-effect {
  font-weight: 900;
  line-height: 1;
  text-transform: uppercase;
  color: black; /* Всередині чорний */
  
  /* Біла обводка */
  -webkit-text-stroke: 8px white;
  
  /* Гарантує, що обводка не залізає на літеру всередину */
  paint-order: stroke fill; 
  text-shadow: 
    2px 2px 0px rgba(0, 0, 0, 0.3),
    4px 4px 0px rgba(0, 0, 0, 0.2),
    6px 6px 0px rgba(0, 0, 0, 0.1);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.4));
}

.l-header-effect {
  font-weight: 900;
  line-height: 1;
  text-transform: uppercase;
  color: black; /* Всередині чорний */
  
  /* Біла обводка */
  -webkit-text-stroke: 12px white;
  
  /* Гарантує, що обводка не залізає на літеру всередину */
  paint-order: stroke fill; 
  text-shadow: 
    2px 2px 0px rgba(0, 0, 0, 0.3),
    4px 4px 0px rgba(0, 0, 0, 0.2),
    6px 6px 0px rgba(0, 0, 0, 0.1);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.4));
}

.grunge-effect {
   /* ЗАСТОСУВАННЯ ФІЛЬТРУ */
  filter: url(#rough-edge-filter);

  background-image: url(#rough-edge-filter);
  
  /* Додатково: прибираємо мило, щоб краї були "гострими" */
  image-rendering: pixelated; 
}